<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <a href="#" class="d-flex justify-content-center">
            <img src="assets/images/smartStock.jpg" alt="logo" style="width: 80%;" />
          </a>
          
          <h5 class="my-4 d-flex justify-content-center">Iniciar sesión</h5>
          
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
           
            <div class="form-floating mb-3">
              <input 
                type="email" 
                class="form-control" 
                id="floatingInput" 
                formControlName="email"
                [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
                placeholder="Correo electrónico"
              />
              <label for="floatingInput">Correo electrónico</label>
              <div class="invalid-feedback">
                @if (email.errors?.['required']) {
                  <div>Email es requerido</div>
                }
                @if (email.errors?.['email']) {
                  <div>Ingresa un email válido</div>
                }
              </div>
            </div>
            
            <!-- Password -->
            <div class="form-floating mb-3">
              <input 
                type="password" 
                class="form-control" 
                id="password" 
                formControlName="password"
                [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}"
                placeholder="Contraseña"
              />
              <label for="password">Contraseña</label>
              <div class="invalid-feedback">
                @if (password.errors?.['required']) {
                  <div>Contraseña es requerida</div>
                }
                @if (password.errors?.['minlength']) {
                  <div>Mínimo 6 caracteres</div>
                }
              </div>
            </div>
            
            <div class="d-flex mt-1 justify-content-between">
              <div class="form-check">
                <input 
                  class="form-check-input input-primary" 
                  type="checkbox" 
                  id="customCheckc1" 
                  formControlName="rememberMe"
                />
                <label class="form-check-label text-muted" for="customCheckc1">Recordar Contraseña</label>
              </div>
              <h5 class="text-secondary">
                <a href="javascript:">¿Has olvidado tu contraseña?</a>
              </h5>
            </div>
            
            <div class="d-grid mt-4">
           <button 
                type="submit" 
                class="btn btn-secondary" 
                [disabled]="loginForm.invalid || isLoading"
              >
                @if (isLoading) {
                  <span class="spinner-border spinner-border-sm" role="status"></span>
                  Verificando...
                } @else {
                  Iniciar sesión
                }
              </button>
            </div>
          </form>
        
          <div class="alert alert-danger user-not-found" role="alert" *ngIf="errorMessage">
            Contraseña o Usuario incorrecto
        </div>
 
        </div>
      </div>
    </div>
    
  </div>
