.alerts_div{
    margin: 2%;
    h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    // .card-header{
    
    //     // background: rgb(233, 238, 233);
    //     // background: linear-gradient(0deg, rgba(218, 230, 219, 0.768) 0%, rgba(211, 238, 206, 0.575) 100%);
    // }


}

.img-alerts_container{
    text-align: right;
    margin: 2%;
        .img-alerts{
            filter: blur(0px);
            width: 30%;
      
        }
    }
 