<div class="row">
  <div class="col-xl-4 col-md-6">
    <div class="card earning-card bg-secondary-dark text-white overflow-hidden">
      <span class="round secondary-round small"></span>
      <span class="round secondary-round big"></span>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="avatar avatar-lg">
              <i class="text-white ti ti-chart-line f-24"></i>
            </div>
          </div>

        </div>
        <span class="text-white d-block f-34 f-w-500 my-2">
          87.5%
          <i class="ti ti-circle-arrow-up-right opacity-50"></i>
        </span>
        <p class="mb-0 opacity-50">Precisión del Modelo</p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card earning-card bg-primary-dark text-white overflow-hidden">
      <span class="round primary-round small"></span>
      <span class="round primary-round big"></span>
      <div class="card-body">
        <app-chart-data-month />
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card total-income-card overflow-hidden bg-primary-dark text-white">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon m-r-5">
            <i class="text-white ti ti-shopping-cart f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="text-white f-w-600 mb-1">367.000</h4>
            <p class="mb-0 opacity-50 text-sm">Total unidades analizadas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card total-income-card warning overflow-hidden">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="avatar avatar-lg icon-warning m-r-5">
            <i class="text-warning ti ti-alert-triangle f-24"></i>
          </div>
          <div class="ms-2">
            <h4 class="f-w-600 mb-1">23</h4>
            <p class="mb-0 opacity-50 text-sm">Productos Bajo Stock</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- <div class="col-xl-8 col-md-12">
    <app-bar-chart />
  </div> -->
  <div class="col-xl-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3 align-items-center">
          <div class="col">
            <h4>Productos Destacados</h4>
          </div>
          <div class="col-auto">
            <!-- Botón "Descargar Informe" -->
            <button class="btn btn-primary btn-sm" [disabled]="isLoading" (click)="sendInforme()">
              <i class="ti ti-align-center me-1"></i>
              @if (isLoading) {
              <span class="spinner-border spinner-border-sm" role="status"></span>
              Enviando...
              } @else {
              Enviar Informe
              }
            </button>
          </div>
          <div class="col-auto"></div>
        </div>
        <div class="rounded bg-light-secondary overflow-hidden mb-3">
          <div class="px-3 pt-3">
            <div class="row mb-1 align-items-start">
              <div class="col">
                <h5 class="text-secondary mb-0">CAT CHOW VIDA SANA</h5>
                <small class="text-muted">+15% Stock</small>
              </div>
              <!-- <div class="col-auto">
                <h4 class="mb-0">328 uds.</h4>
              </div> -->
            </div>
          </div>
          <app-bajaj-chart />
        </div>
        <ul class="list-group list-group-flush">
          @for (item of ListGroup; track item) {
          <li class="list-group-item px-0 {{ item.space }}">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mb-0">{{ item.name }}</h5>
                <small class="{{ item.color }}">{{ item.profit }}</small>
              </div>
              <div class="col-auto">
                <h4 class="mb-0">
                  {{ item.invest }}
                  <span class="ms-2 align-top avatar avatar-xxs {{ item.bgColor }}">
                    <i class="{{ item.icon }} {{ item.color }}"></i>
                  </span>
                </h4>
              </div>
            </div>
          </li>
          }
        </ul>

      </div>
    </div>
  </div>
</div>